<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light rounded-4">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">ATN Store</h1>
    <p class="lead fw-normal">ATN is a Vietnamese enterprise, sells toys to adolescents in numerous provinces across
      Vietnam and generates an annual
      revenue of more than $700,000.</p>
    <a class="btn btn-outline-secondary" href="/me/stored/toys">Find More</a>
  </div>
</div>

<div class="container">
  <div class="mt-4" style="margin-bottom: 24px;">
    <div class="row">

      {{#each toys}}
      <div class="col-sm-6 col-lg-4">
        <div class="card card-toy-item">
          <a href="/toys/{{this.toyID}}">
            <img class="card-img-top" src="{{this.toyImage}}" alt="{{this.toyName}} image">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{this.toyName}}</h5>
            <p class="card-text">{{truncateWords this.toyDescription 20}}
            <p class="card-text">${{this.toyPrice}}
            </p>
            <a href="/toys/{{this.toyID}}" class="btn btn-secondary">More Details</a>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>